html{
    background-image: linear-gradient(lightblue, rgb(207, 207, 207));
    height: 100vh;
    width: 100vw;
}

h1 {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

.body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}